@media (max-width : 800px) {
   .logo{
       font-size: 35px;

         background-color: #311d04;
         color: rgb(214, 232, 247);
         padding:18px;
         text-align: center;
         border-style: groove;
         border-color: black;
         border-radius: 25px;
         margin: 5%;
   }

   footer{
        background-color: #311d04;
        color: #fff;
        padding: 10px;
        text-align: center;
        border-style: groove;
        border-color: black;
        border-radius: 25px;
    }

    h1{
        font-size: 25px;
        background-color: #311d04;
        color: rgb(214, 232, 247);
        padding: 10px;
        text-align: center;
        border-style: groove;
        border-color: black;
        border-radius: 25px;
    }

   main{
        padding: 10px;
    }

    p{
        font-size: 18px;
        background-color: #311d04;
        border-style: groove;
        border-color: black;
        border-radius: 25px;
        color: rgb(214, 232, 247);
        padding: 5%;
        text-align: justify;
    
    }

    body{
        background-color: #333;
    }
    
    img{
        width: 90%;
        border-radius: 10px;
        border-style: groove;
        .logo{
       font-size: 35px;

         background-color: #311d04;
         color: rgb(214, 232, 247);
         padding:18px;
         text-align: center;
         border-style: groove;
         border-color: black;
         border-radius: 25px;
         margin: 5%;
   }

   footer{
        background-color: #311d04;
        color: #fff;
        padding: 10px;
        text-align: center;
        border-style: groove;
        border-color: black;
        border-radius: 25px;
    }

    h1{
        font-size: 25px;
        background-color: #311d04;
        color: rgb(214, 232, 247);
        padding: 10px;
        text-align: center;
        border-style: groove;
        border-color: black;
        border-radius: 25px;
    }

   main{
        padding: 10px;
    }

    p{
        font-size: 18px;
        background-color: #311d04;
        border-style: groove;
        border-color: black;
        border-radius: 25px;
        color: rgb(214, 232, 247);
        padding: 5%;
        text-align: justify;
    
    }

    body{
        background-color: #333;
    }
    
    img{
        width: 90%;
        border-radius: 10px;
        border-style: groove;
        .logo{
       font-size: 35px;

         background-color: #311d04;
         color: rgb(214, 232, 247);
         padding:18px;
         text-align: center;
         border-style: groove;
         border-color: black;
         border-radius: 25px;
         margin: 5%;
   }

   footer{
        background-color: #311d04;
        color: #fff;
        padding: 10px;
        text-align: center;
        border-style: groove;
        border-color: black;
        border-radius: 25px;
    }

    h1{
        font-size: 25px;
        background-color: #311d04;
        color: rgb(214, 232, 247);
        padding: 10px;
        text-align: center;
        border-style: groove;
        border-color: black;
        border-radius: 25px;
    }

   main{
        padding: 10px;
    }

    p{
        font-size: 18px;
        background-color: #311d04;
        border-style: groove;
        border-color: black;
        border-radius: 25px;
        color: rgb(214, 232, 247);
        padding: 5%;
        text-align: justify;
    
    }

    body{
        background-color: #333;
    }
    
    img{
        width: 90%;
        border-radius: 10px;
        border-style: groove;
        display: block;
        margin: auto;
        
    }

        
    }

        
    }

        
 }



 @media (min-width : 800px) {

    .logo{
        font-size: 35px;
 
          background-color: #311d04;
          color: rgb(214, 232, 247);
          padding:18px;
          text-align: center;
          border-style: groove;
          border-color: black;
          border-radius: 25px;
          margin: 5%;
    }
 
    footer{
         background-color: #311d04;
         color: #fff;
         padding: 10px;
         text-align: center;
         border-style: groove;
         border-color: black;
         border-radius: 25px;
     }
 
     h1{
         font-size: 25px;
         background-color: #311d04;
         color: rgb(214, 232, 247);
         padding: 10px;
         text-align: center;
         border-style: groove;
         border-color: black;
         border-radius: 25px;
     }
 
    main{
         padding: 10px;
     }
 
     p{
         font-size: 18px;
         background-color: #311d04;
         border-style: groove;
         border-color: black;
         border-radius: 25px;
         color: rgb(214, 232, 247);
         padding: 5%;
         text-align: justify;
     
     }
 
     body{
         background-color: #333;
     }
     
     img{
         width: 40%;
         border-radius: 10px;
         border-style: groove;
         display: block;
         margin: auto;
         
     }
     
 



 }

   